.login {
    width: 90%;
    height: 720px;
    border-radius: 20px;
    border: 1px solid #5D5D5D;
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.rigth {
    width: 40%;
    height: 100%;
    background-color: #1C1C1C;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
}

.rigth h4 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    width: 60%;
    position: relative;
    top: 60px;
}

.rigth p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 60%;
    position: relative;
    top: 100px;
}

.back {
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: transparent;
    border: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.leftInfo {
    height: 497px;
    width: 424px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    height: 46px;
    width: 223px;
    background-color: #262626;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.buttons button {
    width: 50%;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
}

.active {
    background-color: #F0B90B;
    transition: all .6s ease;
}

.desactivate {
    background-color: transparent;
    transition: all .3s ease;
}

.register {
    width: 80px;
    height: 35px;
    background-color: #F0B90B;
    text-align: center;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.active:hover, .register:hover {
    transform: scale(1.01);
    background-color: #daa90a;
}

.question {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputs p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.input {
    width: 400px;
    height: 46px;
    padding: 0px 12px;
    border-radius: 5px;
}

.password {
    background-color: #ffffff;
    width: 398px;
    border-radius: 5px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password input {
    height: 45px;
    width: 90%;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}

.password button {
    border: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.errorSize {
    color: #ffffff;
}